{% include 'public/header.html' %}
<body style="background-color: #4F6C7D;">
    <div class="form__container">
        <form method="POST" class="form-container margin">
            <h2 align="center">Add Facility</h2>
            <div class="form-group">
                <label for="facility_name">Facility Name:</label><br>
                <input type="text" id="facility_name" name="facility_name" class="form-input" pattern="[a-zA-Z ]+" title="Alphabets are only allowed" required><br><br>
            </div>

            <div class="form-group">
                <label for="facility_type">Facility Type:</label><br>
                <input type="text" id="facility_type" name="facility_type" class="form-input" required><br><br>
            </div>

            <div class="form-group">
                <label for="facility_des">Facility Description:</label><br>
                <input type="text" id="facility_des" name="facility_des" class="form-input" required><br><br>
            </div>

            <div class="form-group">
                <label for="facility_capacity">Facility Capacity:</label><br>
                <input type="text" id="facility_capacity" name="facility_capacity" class="form-input" required><br><br>
            </div>

            <div class="form-group">
                <label for="facility_image">Facility Image:</label><br>
                <input type="text" id="facility_image" name="facility_image" class="form-input" required><br><br>
            </div>

            <div class="form-group">
                <label for="operating_hrs">Operating Hours:</label><br>
                <input type="text" id="operating_hrs" name="operating_hrs" class="form-input" required><br><br>
            </div>

            <div class="form-group">
                <label for="safety_measures">Safety Measures:</label><br>
                <input type="text" id="safety_measures" name="safety_measures" class="form-input" required><br><br>
            </div>
            <input type="submit" value="Add Facility" name="add_facility" class="form-button">
            <br><br>
            <a href="/manageFacilities">Back to Manage Facilities</a>
        </form>

    </div>
</body>
{% include 'public/footer.html' %}

