<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Facility</title>
</head>
<body>
    <center>
        <h1>Add Facility</h1>
        <form method="POST">
            <label for="facility_name">Facility Name:</label><br>
            <input type="text" id="facility_name" name="facility_name" required><br><br>

            <label for="facility_type">Facility Type:</label><br>
            <input type="text" id="facility_type" name="facility_type" required><br><br>

            <label for="facility_des">Facility Description:</label><br>
            <input type="text" id="facility_des" name="facility_des" required><br><br>

            <label for="facility_capacity">Facility Capacity:</label><br>
            <input type="text" id="facility_capacity" name="facility_capacity" required><br><br>

            <label for="facility_image">Facility Image:</label><br>
            <input type="text" id="facility_image" name="facility_image" required><br><br>

            <label for="operating_hrs">Operating Hours:</label><br>
            <input type="text" id="operating_hrs" name="operating_hrs" required><br><br>

            <label for="safety_measures">Safety Measures:</label><br>
            <input type="text" id="safety_measures" name="safety_measures" required><br><br>

            <input type="submit" value="Add Facility" name="add_facility">
        </form>
        <br>
        <a href="/manageFacilities">Back to Manage Facilities</a>
    </center>
</body>
</html>
