{% include 'public/header.html' %}
<body style="background-color: #4F6C7D;">
    <div class="form__container">
    <form  method="POST" class="form-container margin">
    <h2 align="center">Add Staff Information</h2>
    <br>
    <div class="form-group">
        <label for="staff_name">Staff Name:</label><br>
        <input type="text" id="staff_name" name="staff_name" class="form-input" required><br><br>
    </div>

    <div class="form-group">
        <label for="staff_email">Staff Email:</label><br>
        <input type="email" id="staff_email" name="staff_email" class="form-input" required><br><br>
    </div>

    <div class="form-group">
        <label for="staff_phone">Staff Phone:</label><br>
        <input type="tel" id="staff_phone" name="staff_phone" class="form-input" required><br><br>
    </div>

    <div class="form-group">
        <label for="staff_dob">Staff Date of Birth:</label><br>
        <input type="date" id="staff_dob" name="staff_dob" class="form-input" required><br><br>
    </div>

    <div class="form-group">
        <label>Gender</label>
        <div class="gender-options">
            <input type="radio" value="male" name="gender" id="male" class="form-radio" required> 
            <label for="male">Male</label>
            <input type="radio" value="female" name="gender" id="female" class="form-radio" required>
            <label for="female">Female</label>
        </div>
    </div>

    <div>
        <label for="staff_adress">Staff Address:</label><br>
        <input type="text" id="staff_adress" name="staff_adress" class="form-input" required><br><br>
    </div>

    <div>
        <label for="position">Position:</label><br>
        <input type="text" id="position" name="position" class="form-input" required><br><br>
    </div>

    <div>
        <label for="qualification">Qualification:</label><br>
        <input type="text" id="qualification" name="qualification" class="form-input" required><br><br>
    </div>

    <div>
        <label for="staff_name">Username</label><br>
        <input type="text"  name="username" class="form-input" required><br><br>
    </div>

    <div>
        <label for="staff_email">Password</label><br>
        <input type="password" name="password" class="form-input" required><br><br>
    </div>

    <input type="submit" value="Add Staff" name="add_staff" class="form-button">
</form>
</div>
</body>
{% include 'public/footer.html' %}

