{% include 'public/header.html' %}
<body style="background-color: #4F6C7D;">
    <div class="admin_table">
        <h1>Welcome Admin</h1>
        <br>
        <table class="admin-links-table">
            <tr>
                <td><a href="/view-dayCare">View Day Care</a></td>
            </tr>
            <tr>
                <td><a href="/view-staff">View Staff</a></td>
            </tr>
            <tr>
                <td><a href="/view-parent">View Parent</a></td>
            </tr>
            <tr>
                <td><a href="/view-feedback">View Feedback</a></td>
            </tr>
        </table>
    </div>
</body>
{% include 'public/footer.html' %}
