{% include 'public/header.html' %}
<body style="background-color: #4F6C7D;">
    <div class="admin_table">
        <h1>DayCare</h1>
        <br>
        <table class="admin-links-table">
            <tr>
                <td><a href="/manageStaff">manage staff</a></td>
            </tr>
            <tr>
                <td><a href="/manageFacilities">manage facilities</a></td>
            </tr>
            <tr>
                <td><a href="/view-babies-daycare">view babies</a></td>
            </tr>
            <tr>
                <td><a href="/view-feedback-daycare">view feedback</a></td>
            </tr>
            <tr>
                <td><a href="/view-complaint-daycare">view complaint</a></td>
            </tr>
            <tr>
                <td><a href="/view-admission-requests">request admission</a></td>
            </tr>
        </table>
    </div>
</body>
{% include 'public/footer.html' %}