{% include 'public/header.html' %}
<body>
    <main class="main">
        <!--==================== HOME ====================-->
        <section>
            <img src="/static/img/home1.jpg" alt="" class="home__img">

            <div class="form__container">
                <form action="" method="post" class="form-container">
                    <h2 align="center">Login</h2>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" name="username" id="username" class="form-input" placeholder="Enter Username" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" name="psw" id="password" class="form-input" placeholder="Enter Password" required>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="login" value="Login" class="form-button">
                    </div>
                </form>
            </div>
        </section>
    </main>
    {% include 'public/footer.html' %}
</body>
