{% include 'public/header.html' %}
<body style="background-color: #4F6C7D;">
    <div class="data-container">
    {% if data['up'] %}
        <div class="form__container">
            <form method="POST" class="form-container margin">
                <h2 align="center">Update Facility Information</h2>
                <br>
                <div class="form-group">
                    <label for="facility_name">Facility Name:</label><br>
                    <input type="text" id="facility_name" name="facility_name" class="form-input" 
                           value="{{data['up'][0]['facility_name']}}" pattern="[a-zA-Z ]+" 
                           title="Alphabets are only allowed" required><br><br>
                </div>
                
                <div class="form-group">
                    <label for="facility_type">Facility Type:</label><br>
                    <input type="text" id="facility_type" name="facility_type" class="form-input" 
                           value="{{data['up'][0]['facility_type']}}" required><br><br>
                </div>
                
                <div class="form-group">
                    <label for="facility_des">Facility Description:</label><br>
                    <input type="text" id="facility_des" name="facility_des" class="form-input" 
                           value="{{data['up'][0]['facility_des']}}" required><br><br>
                </div>
                
                <div class="form-group">
                    <label for="facility_capacity">Facility Capacity:</label><br>
                    <input type="text" id="facility_capacity" name="facility_capacity" class="form-input" 
                           value="{{data['up'][0]['facility_capacity']}}" required><br><br>
                </div>
                
                <div class="form-group">
                    <label for="facility_image">Facility Image:</label><br>
                    <input type="text" id="facility_image" name="facility_image" class="form-input" 
                           value="{{data['up'][0]['facility_image']}}" required><br><br>
                </div>
                
                <div class="form-group">
                    <label for="operating_hrs">Operating Hours:</label><br>
                    <input type="text" id="operating_hrs" name="operating_hrs" class="form-input" 
                           value="{{data['up'][0]['operating_hrs']}}" required><br><br>
                </div>
                
                <div class="form-group">
                    <label for="safety_measures">Safety Measures:</label><br>
                    <input type="text" id="safety_measures" name="safety_measures" class="form-input" 
                           value="{{data['up'][0]['safety_measures']}}" required><br><br>
                </div>
                
                <input type="submit" value="Update Facility" name="update_facility" class="form-button">
            </form>
        </div>
    {% else %}
        <h1>Manage Facilities</h1>
        <a href="/addFacility">Add Facility</a>
        <br><br>
        <table class="data-table">
            <tr>
                <th>Facility Name</th>
                <th>Facility Type</th>
                <th>Facility Description</th>
                <th>Facility Capacity</th>
                <th>Facility Image</th>
                <th>Operating Hours</th>
                <th>Safety Measures</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            {% for facility in data['view'] %}
            <tr>
                <td>{{facility['facility_name']}}</td>
                <td>{{facility['facility_type']}}</td>
                <td>{{facility['facility_des']}}</td>
                <td>{{facility['facility_capacity']}}</td>
                <td>{{facility['facility_image']}}</td>
                <td>{{facility['operating_hrs']}}</td>
                <td>{{facility['safety_measures']}}</td>
                <td><a href="?action=update&id={{facility['facility_id']}}" class="accept-btn">Update</a></td>
                <td><a href="?action=delete&id={{facility['facility_id']}}" class="reject-btn">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    </div>
</body>
{% include 'public/footer.html' %}
