{% include 'public/header.html' %}
<body>
    <section>
        <img src="/static/img/home1.jpg" alt="" class="home__img">
        <div class="form__container margin">
            <form method="post" class="form-container">
                <h2 align="center">Parent Registration</h2>
                <div class="form-group">
                    <label for="name">Parent Name</label>
                    <input type="text" name="name" id="name" class="form-input" placeholder="Enter Parent Name" required>
                </div>

                <div class="form-group">
                    <label for="phone">Phone No</label>
                    <input type="text" name="phone" id="phone" class="form-input" placeholder="Enter Phone Number" required>
                </div>

                <div class="form-group">
                    <label for="address">Address</label>
                    <textarea name="address" id="address" class="form-textarea" placeholder="Enter Address" required></textarea>
                </div>

                <div class="form-group">
                    <label>Gender</label>
                    <div class="gender-options">
                        <input type="radio" value="male" name="gender" id="male" class="form-radio" required> 
                        <label for="male">Male</label>
                        <input type="radio" value="female" name="gender" id="female" class="form-radio" required>
                        <label for="female">Female</label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="dob">Date of Birth</label>
                    <input type="text" name="dob" id="dob" class="form-input" placeholder="Enter Date of Birth" required>
                </div>

                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email" class="form-input" placeholder="Enter Email" required>
                </div>

                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" class="form-input" placeholder="Enter Username" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-input" placeholder="Enter Password" required>
                </div>

                <div class="form-group">
                    <input type="submit" name="register" value="Submit" class="form-button">
                </div>
            </form>
        </div>
    </section>
    {% include 'public/footer.html' %}
</body>
