{% include 'public/header.html' %}
<body style="background-color: #4F6C7D;">
    <div class="form__container">
        <form method="POST" class="form-container margin">
            <h2 align="center">Enter the payment</h2>
            <div class="form-group">
                <label for="payment">Payment:</label><br>
                <input type="text" id="payment" name="payment" class="form-input" required><br><br>
            </div>

            <input type="submit" value="confirm" name="submit" class="form-button">
            <br><br>
        </form>

    </div>
</body>
{% include 'public/footer.html' %}

