{% include 'public/header.html' %}
<body>
    <div class="data-container">
        <form action="" method="POST">
            <table class="data-table">
                <tr>
                    <td>
                        <textarea name="reply" id=""></textarea>
                    </td>
                    <td>
                        <button type="submit" name="submit">reply</button>
                        <!-- <a href="" class="accept-btn" type="submit">reply</a> -->
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
{% include 'public/footer.html' %}
