<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view_data_care</title>
</head>
<body>
    <center>
        <h1>DAY CARE</h1>
        <table border="2">
            <tr>
                <th>Day Care Name</th>
                <th>Owner Name</th>
                <th>Phone</th>
                <th>Adress</th>
                <th>license No</th>
                <th>capacity</th>
                <th>Operating Time</th>
                <th>Day Care Discription</th>
            </tr>
            {% for i in data['view'] %}
            <tr>
                <td>{{i['day_care_name']}}</td>
                <td>{{i['owner_name']}}</td>
                <td>{{i['phone']}}</td>
                <td>{{i['adress']}}</td>
                <td>{{i['license_number']}}</td>
                <td>{{i['capacity']}}</td>
                <td>{{i['operating_time']}}</td>
                <td>{{i['daycare_discription']}}</td>
                {% if i['usertype'] == 'pending'%}
                <td><a href="?action=accept&id={{i['login_id']}}">accept</a></td>
                <td><a href="?action=reject&id={{i['login_id']}}">reject</a></td>
                {% elif i['usertype'] == 'dayCare' %}
                <td>accepted</td>
                <td><a href="?action=reject&id={{i['login_id']}}">reject</a></td>
                {% else %}
                <td><a href="?action=accept&id={{i['login_id']}}">accept</a></td>
                <td>rejected</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>