{% include 'public/header.html' %}
<body>
    <div class="data-container">
    <h1>Staff</h1>

    <table border="2" class="data-table">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No</th>
            <th>Date of birth</th>
            <th>Gender</th>
            <th>Adress</th>
            <th>Position</th>
            <th>Qualification</th>
        </tr>
        {% for i in data['view'] %}
        <tr>
            <td>{{i['staff_name']}}</td>
            <td>{{i['staff_email']}}</td>
            <td>{{i['staff_phone']}}</td>
            <td>{{i['staff_dob']}}</td>
            <td>{{i['gender']}}</td>
            <td>{{i['staff_adress']}}</td>
            <td>{{i['position']}}</td>
            <td>{{i['qualification']}}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
</body>
{% include 'public/footer.html' %}
