{% include 'public/header.html' %}
<body style="background-color: #4F6C7D;">
    <div class="data-container">
        <h1>Babies</h1>
        <table class="data-table">
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Photo</th>
                <th>Allergies/Dietary Restrictions</th>
                <th>Medical Condition</th>
                <th>View Parent</th>
                <th>Add Activity details</th>
            </tr>
            {% for i in data['view'] %}
            <tr>
                <td>{{ i['baby_name'] }}</td>
                <td>{{ i['baby_dob'] }}</td>
                <td>{{ i['baby_gender'] }}</td>
                <td><img src="{{ i['baby_photo'] }}" alt="{{ i['baby_name'] }}" width="50" /></td>
                <td>{{ i['allergies_or_dietry_restriction'] }}</td>
                <td>{{ i['medical_condition'] }}</td>
                <td><a href="/view-parent-daycare?id={{i['parent_id']}}" class="accept-btn">View</a></td>
                <td><a href="#" class="accept-btn">Add</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>
{% include 'public/footer.html' %}
